* { padding:0; margin:0; box-sizing: border-box;}

ul { list-style: none;

}
a { text-decoration: none;}
.wrap { 
    height:100vh; 
    display:grid; 
    grid-template-columns: 200px 1fr;
    grid-template-rows: 65px 1fr;
}

.wrap .header { 
    min-height:100vh;
    grid-row: 1/3;
    background-color: rgb(240, 96, 96);
    padding-top: 20px;
}

.wrap .header .logo {
    color: #fff;
    text-align: center;
    font-family: 'Shrikhand', cursive;
}

.wrap .header .nav .nav__title {
    display: block;
    background-color: rgb(255, 162, 162);
    padding: 10px 20px;
    color: #fff;
    margin-top: 40px;
}

.nav__list .nav__item  { margin: 10px 20px;}

.nav__list .nav__item a { color: #fff; }

.top-bar { background-color: rgb(235, 235, 235); display: flex;
    padding: 15px 10px;
}
.top-bar .search__form {height:100%;}

.top-bar .search__form .search__label { display: none;}

.top-bar .search__form #idSearch { 
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 10px 10px;
}

.top-bar .search { flex-grow: 1;}

.top-bar .profile {
    display: flex;
    width: 40px; height: 40px;
    background-color: blueviolet;
    border-radius: 50%;
    margin-left: 15px;
    color: #fff;
    box-shadow: 2px 2px 1px 1px rgb(148, 148, 148);
    align-items: center;
    justify-content: center;
}

.top-bar .profile .profile__icon {
    font-family: 'Shrikhand', cursive;
}


.main .main__header { 
    position: relative;
    height: 250px;    
    background: url('http://unsplash.it/1200/600?image=495') no-repeat;
    background-size: cover;
    }
/*
.main .main__header::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    position: absolute;
    display:block;

}
*/

.main{ display: flex; flex-direction: column; background-color: rgba(238, 236, 236, 0.911);}

.main__body{flex-grow: 1;}

.main .main__header .main__title {
    color:#fff;
    font-size: 3rem;
    background-color: #00000040;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main__body .listing-card .listing-card__list {
    display: grid;
    padding: 25px 20px;
    
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.main__body .listing-card__list .listing-card__item {
    height: 350px;
    background-color: #fff;
    padding: 1.2rem 1.2rem 2.5rem 1.2rem;
}

.main__body .listing-card__list .listing-card__item .listing-card__image {
    height: 80%;
    background-size: cover;

}

.listing-card__item .listing-card__info { margin-top: 15px;}
.listing-card__item .listing-card__info .listing-card__date {
    margin-top:6px;
}